
/*** ***/
div.wip {
	margin: 1rem 0;
	border: 2px solid #eee;
	/*background-color: #fefefe;*/
}

.source,
div.source,
.venue_source,
div.venue_source {
	border: 2px solid yellow;
	/*background-color: yellow;*/
}

.address {
	border: 2px solid pink;
	/*background-color: pink;*/
}

.organ {
	border: 2px solid green;
}