
/*** ***/
.wip {
	margin: 1rem 0;	
	padding: 1rem;
	border: 2px solid #eee;
}

.source,
.venue_source {
	border: 2px solid orange;
}

.address {
	border: 2px solid pink;
}

.organ {
	border: 2px solid green;
}