
/*** ***/
div.wip {
	margin: 1rem 0;
	background-color: #eee;
}

.source,
div.source,
.venue_source,
div.venue_source {
	border: 2px solid yellow;
	/*background-color: yellow;*/
}

.address {
	border: 2px solid pink;
	/*background-color: pink;*/
}